<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ style_raw }}">
        <script src="/catalog/view/javascript/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script src="{{ script_raw }}" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        {{ invoice }}
    </body>

</html>